---
---
<!-- Navigation Bar -->
<nav class="bg-gray-800 text-white py-10">
    <div class="container mx-auto text-center">
        <a href="#section1" class="mx-6">Fra succes til tilbagegang</a>
        <a href="#section2" class="mx-6">1980'erne: Faldet begynder</a>
        <a href="#section3" class="mx-6">Kodak forsoegte</a>
        <a href="#section4" class="mx-6">Mange brugere oplevede</a>
        <a href="#section5" class="mx-6">Fra mainstream til niche</a>
    </div>
</nav>
